<form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  {% for sector in form %}
    <div class="mb-3">
      <label for="" class="form-label">{{ sector.label }}</label>
      {% if sector.field.widget.input_type = 'file' and sector.value %}
      <img src="{{MEDIA_URL}}/images/{{ sector.value }}"width="100" alt="" srcset="">
      {% endif %}

      <input
        type="{{ sector.field.widget.input_type }}"
        class="form-control"
        name="{{ sector.name }}"
        id=""
        aria-describedby="helpId"
        placeholder="{{ sector.label }}"
        value="{{ sector.value | default:'' }}"
      />
    </div>
    <div class="col-12 help-text">{{ sector.errors }}</div>
  {% endfor %}
  <input name="" id="" class="btn btn-success" type="submit" value="Send">
</form>