{% extends "base.html" %}

{% block title %} Books List {% endblock title %}


{% block content %}
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'create' %}" role="button">Add a new book</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Books</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in my_books %}
                    <tr class="">
                        <td>{{ book.id }}</td>
                        <td>{{ book.title}}</td>
                        <td>{{ book.image }}</td>
                        <td>{{ book.description }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'update' %}" role="button">Update</a>
                            | <a name="" id="" class="btn btn-danger" href="#" role="button">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">

    </div>
</div>
{% endblock content %}